fastapi
uvicorn[standard]
pydantic[email]
python-dotenv
sqlalchemy
alembic
psycopg2-binary
passlib[bcrypt]
bcrypt==4.0.1
pymupdf
langchain
langchain-text-splitters
pyjwt
python-multipart
cohere
qdrant-client
redis
groq